# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# PyInstaller
*.manifest
*.spec

# Environments (virtualenvs)
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
myvenv/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# PyCharm
.idea/

# Cython debug symbols
cython_debug/

# Mypy / type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Others
*.pot
*.mo
*.sage.py