{% extends "../base.html" %}
{% block title %}Lista de Estadios{% endblock %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% block contenido %}
<h1>Resultado de busqueda</h1>

{% if estadios %}
<table>
    <tr>
        <th>Nombre</th>
        <th>Ciudad</th>
        <th>Capacidad</th>
        <th>Cubierto</th>
    </tr>
    {% for estadio in estadios %}
    <tr>
        <td>{{ estadio.nombre }}</td>
        <td>{{ estadio.ciudad }}</td>
        <td>{{ estadio.capacidad }}</td>
        <td>{{ estadio.cubierto|yesno:"Sí,No" }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No se encontraron equipos.</p>
{% endif %}
{% endblock %}
