{% extends "../base.html" %}
{% block title %}Lista de Estadios{% endblock %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% block contenido %}
<h1>Listado de Estadios</h1>

{% if estadios %}
<table>
    <tr>
        <th>Nombre</th>
        <th>Ciudad</th>
        <th>Capacidad</th>
        <th>Cubierto</th>
    </tr>
    {% for estadio in estadios %}
    <tr>
        <td>{{ estadio.nombre }}</td>
        <td>{{ estadio.ciudad }}</td>
        <td>{{ estadio.capacidad }}</td>
        <td>{{ estadio.cubierto|yesno:"Sí,No" }}</td>
        <td>
            <div class="row btn-group">
                <div class="mb-2">
                    <button type="button" 
                            class="btn btn-outline-primary"> 
                            <a href="{% url 'estadio_editar' estadio.id %}"><span>{% bs_icon 'pencil' %}</span></a>
                    </button>
                </div>
                <div class="mb-2">
                    <form action = "{% url 'estadio_eliminar' estadio.id %}" method = "post"> 
                        {% csrf_token %}
                        <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                            <span>{% bs_icon 'trash' %}</span>
                        </button> 
                    </form>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No se encontraron estadios.</p>
{% endif %}
<script>
    function eliminar(){
        var x = confirm("¿Realmente quieres eliminar este estadio?")
        if (x)
            return true
        else
            return false
    }
</script>
{% endblock %}
