{% extends "../base.html" %}
{% block title %}Actualizar Jugador{% endblock %}

{% block contenido %}
<form action="{% url 'jugador_editar' jugador.id %}" method="post"
    value="{% spaceless %}
        {% if formularioJ.is_bound %}
            {{ formularioJ.nombre.value }}
        {% elif libro %}
            {{ formularioJ.nombre.value }}
        {% endif %}
    {% endspaceless %}">

    {% csrf_token %}
    <h3>Datos del Jugador</h3>
    {{ formularioJ }}
    <button type="submit">Actualizar</button>
</form>
{% endblock %}