{% extends "../base.html" %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% block title %}Lista de Jugadores{% endblock %}
{% block contenido %}
<h1>Lista de Jugadores</h1>

{% if jugadores %}
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha Nacimiento</th>
            <th>Posición</th>
            <th>Partidos</th>
            <th>Goles</th>
            <th>Asistencias</th>
            <th>Tarjetas</th>
        </tr>
    </thead>
    <tbody>
        {% for jugador in jugadores %}
        <tr>
            <td>{{ jugador.nombre|truncatechars:10 }}</td>
            <td>{{ jugador.apellido }}</td>
            <td>{{ jugador.fecha_nacimiento|date:"d/m/Y" }}</td>
            <td>{{ jugador.get_posicion_display|upper }}</td>
            <td>{{ jugador.estadisticas.partidos_jugados|default_if_none:"0" }}</td>
            <td>{{ jugador.estadisticas.goles|default_if_none:"0" }}</td>
            <td>{{ jugador.estadisticas.asistencias|default_if_none:"0" }}</td>
            <td>{{ jugador.estadisticas.tarjetas|default_if_none:"0" }}</td>
            <td>
                {% if user.es_manager %}
                    <div class="row btn-group">
                        <div class="mb-2">
                            <button type="button" 
                                    class="btn btn-outline-primary"> 
                                    <a href="{% url 'jugador_editar' jugador.id %}"><span>{% bs_icon 'pencil' %}</span></a>
                            </button>
                        </div>
                        <div class="mb-2">
                            <form action = "{% url 'jugador_eliminar' jugador.id %}" method = "post"> 
                                {% csrf_token %}
                                <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                                    <span>{% bs_icon 'trash' %}</span>
                                </button> 
                            </form>
                        </div>
                    </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No se encontraron jugadores.</p>
{% endif %}
{% endblock %}