{% extends "../base.html" %}
{% block title %}Lista de Jugadores{% endblock %}

{% block contenido %}
<h1>Lista de Jugadores</h1>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha Nacimiento</th>
            <th>Posición</th>
            <th>Partidos</th>
            <th>Goles</th>
            <th>Asistencias</th>
            <th>Tarjetas</th>
        </tr>
    </thead>
    <tbody>
        {% for jugador in jugadores %}
        <tr>
            <td>{{ jugador.nombre|truncatechars:10 }}</td>
            <td>{{ jugador.apellido }}</td>
            <td>{{ jugador.fecha_nacimiento|date:"d/m/Y" }}</td>
            <td>{{ jugador.get_posicion_display|upper }}</td>
            <td>{{ jugador.estadisticas.partidos_jugados|default_if_none:"0" }}</td>
            <td>{{ jugador.estadisticas.goles|default_if_none:"0" }}</td>
            <td>{{ jugador.estadisticas.asistencias|default_if_none:"0" }}</td>
            <td>{{ jugador.estadisticas.tarjetas|default_if_none:"0" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="8">No hay jugadores registrados</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}