{% extends "../base.html" %}
{% block title %}Lista de Estadios{% endblock %}
{% load django_bootstrap5 %}
{% block contenido %}
<h1>Resultado de busqueda</h1>

{% if sponsors %}
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Monto</th>
            <th>País</th>
            <th>Equipos</th>
        </tr>
    </thead>
    <tbody>
        {% for sponsor in sponsors %}
        <tr>
            <td>{{ sponsor.nombre }}</td>
            <td>{{ sponsor.monto|floatformat:2 }}</td>
            <td>{{ sponsor.pais|lower }}</td>
            <td>{{ sponsor.equipos.all|length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No se encontraron sponsors.</p>
{% endif %}
{% endblock %}
