{% extends "../base.html" %}
{% block title %}Lista de Torneos{% endblock %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% block contenido %}
<h1>Lista de Torneos</h1>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>País</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Arbitro Principal</th>
        </tr>
    </thead>
    <tbody>
        {% for torneo in torneos %}
        <tr>
            <td>{{ torneo.nombre|upper }}</td>
            <td>{{ torneo.pais|lower }}</td>
            <td>{{ torneo.fecha_inicio|date:"d/m/Y" }}</td>
            <td>{{ torneo.fecha_fin|date:"d/m/Y" }}</td>
            <td>{{ torneo.arbitro_principal }}</td>
            <td>
                {% if user.es_arbitro %}
                    <div class="row btn-group">
                        <div class="mb-2">
                            <button type="button" 
                                    class="btn btn-outline-primary"> 
                                    <a href="{% url 'torneo_editar' torneo.id %}"><span>{% bs_icon 'pencil' %}</span></a>
                            </button>
                        </div>
                        <div class="mb-2">
                            <form action = "{% url 'torneo_eliminar' torneo.id %}" method = "post"> 
                                {% csrf_token %}
                                <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                                    <span>{% bs_icon 'trash' %}</span>
                                </button> 
                            </form>
                        </div>
                    </div>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No hay torneos registrados</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
