{% extends "./base.html" %}
{% block title %}Detalle Jugador{% endblock %}

{% block contenido %}
<h1>{{ jugador.nombre }} {{ jugador.apellido }}</h1>

<p>Fecha Nacimiento: {{ jugador.fecha_nacimiento|date:"d/m/Y" }}</p>
<p>Posición: {{ jugador.posicion|default:"Desconocida"|upper }}</p>

<h2>Estadísticas</h2>
<ul>
    <li>Partidos Jugados: {{ jugador.estadisticas.partidos_jugados|default_if_none:"0" }}</li>
    <li>Goles: {{ jugador.estadisticas.goles|default_if_none:"0" }}</li>
    <li>Asistencias: {{ jugador.estadisticas.asistencias|default_if_none:"0" }}</li>
    <li>Tarjetas: {{ jugador.estadisticas.tarjetas|default_if_none:"0" }}</li>
</ul>
{% endblock %}