{% extends "./base.html" %}
{% block title %}Página Principal{% endblock %}

{% block contenido %}
<h1>Bienvenido al proyecto de eventos deportivos</h1>

<p>Enlaces a las diferentes secciones:</p>

<ul>
    <li><a href="{% url 'lista_jugadores' %}">1. Lista de Jugadores</a></li>
    <li><a href="{% url 'lista_equipos' %}">2. Lista de Equipos</a></li>
    <li><a href="{% url 'lista_partidos' %}">3. Lista de Partidos</a></li>
    <li><a href="{% url 'detalle_torneo' nombre_torneo='Leader Cup' %}">4. Detalle de un Torneo (torneo)</a></li>
    <li><a href="{% url 'lista_torneos' %}">5. Lista de Torneos</a></li>
    <li><a href="{% url 'detalle_arbitro_torneo' arbitro_id=1 torneo_id=1 %}">6. Detalle de Árbitro en un Torneo (id de arbitro e id de torneo)</a></li>
    <li><a href="{% url 'lista_sponsors' pais='España' monto_min=1000 %}">7. Lista de Sponsors (pais, monto >= xxxx)</a></li>
    <li><a href="{% url 'lista_estadios' %}">8. Lista de Estadios</a></li>
</ul>
<h2>CRUD Jugadores</h2>
{% load django_bootstrap5 %}
<ul>
    <li><a href="{% url 'jugador_create' %}">1. Crear Jugadores</a></li>
    <form action="{% url 'jugador_buscar' %}" class="d-flex mt-3" role="search" method="GET">
        {% bootstrap_form formularioJ %}
        <button class="btn btn-light btn-outline-dark" type="submit">2. Search Jugadores</button>
    </form>
</ul>
<h2>CRUD Equipos</h2>
<ul>
    <li><a href="{% url 'equipo_create' %}">1. Crear Equipos</a></li>
    <form action="{% url 'equipo_buscar' %}" class="d-flex mt-3" role="search" method="GET">
        {% bootstrap_form formularioE %}
        <button class="btn btn-light btn-outline-dark" type="submit">2. Search Equipos</button>
    </form>
</ul>
<h2>CRUD Estadios</h2>
<ul>
    <li><a href="{% url 'estadio_create' %}">1. Crear Estadios</a></li>
    <form action="{% url 'estadio_buscar' %}" class="d-flex mt-3" role="search" method="GET">
        {% bootstrap_form formularioES %}
        <button class="btn btn-light btn-outline-dark" type="submit">2. Search Estadios</button>
    </form>
</ul>
{% endblock %}
