{% extends "./base.html" %}
{% block title %}Lista de Jugadores{% endblock %}

{% block contenido %}
<h1>Lista de Jugadores</h1>

<div class="grid-container">
    {% for jugador in jugadores %}
    <div class="card">
        <h2>{{ jugador.nombre }} {{ jugador.apellido }}</h2>
        <p><strong>Fecha de nacimiento:</strong> {{ jugador.fecha_nacimiento|date:"d/m/Y" }}</p>
        <p><strong>Posición:</strong> {{ jugador.get_posicion_display }}</p>
        <p><strong>Estadísticas:</strong></p>
        <ul>
            <li>Partidos jugados: {{ jugador.estadisticas.partidos_jugados }}</li>
            <li>Goles: {{ jugador.estadisticas.goles }}</li>
            <li>Asistencias: {{ jugador.estadisticas.asistencias }}</li>
            <li>Tarjetas: {{ jugador.estadisticas.tarjetas }}</li>
        </ul>
        <a href="{% url 'detalle_jugador' jugador.id %}" class="btn">Ver detalles</a>
    </div>
    {% empty %}
    <p>No hay jugadores disponibles.</p>
    {% endfor %}
</div>
{% endblock %}
