{% extends "../base.html" %}
{% block title %}Lista de Partidos{% endblock %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% block contenido %}
<h1>Lista de Partidos</h1>

<table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Equipo Local</th>
            <th>Equipo Visitante</th>
            <th>Resultado</th>
            <th>Torneo</th>
        </tr>
    </thead>
    <tbody>
        {% for partido in partidos %}
        <tr>
            <td>{{ partido.fecha|date:"d/m/Y" }}</td>
            <td>{{ partido.fecha|time:"H:i" }}</td>
            <td>{{ partido.equipo_local.nombre }}</td>
            <td>{{ partido.equipo_visitante.nombre }}</td>
            <td>{{ partido.resultado }}</td>
            <td>{{ partido.torneo.nombre|upper }}</td>
            <td>
                {% if user.es_arbitro %}
                    <div class="row btn-group">
                        <div class="mb-2">
                            <button type="button" 
                                    class="btn btn-outline-primary"> 
                                    <a href="{% url 'partido_editar' partido.id %}"><span>{% bs_icon 'pencil' %}</span></a>
                            </button>
                        </div>
                        <div class="mb-2">
                            <form action = "{% url 'partido_eliminar' partido.id %}" method = "post"> 
                                {% csrf_token %}
                                <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                                    <span>{% bs_icon 'trash' %}</span>
                                </button> 
                            </form>
                        </div>
                    </div>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No hay partidos registrados</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}