{% extends "../base.html" %}
{% block title %}Lista de Equipos{% endblock %}

{% block contenido %}
<h1>Listado de Equipos</h1>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Ciudad</th>
            <th>Fundación</th>
            <th>Activo</th>
            <th>Jugadores</th>
            <th>Estadio Principal</th>
        </tr>
    </thead>
    <tbody>
        {% for equipo in equipos %}
        <tr>
            <td>{{ equipo.nombre }}</td>
            <td>{{ equipo.ciudad }}</td>
            <td>{{ equipo.fundacion|date:"d/m/Y" }}</td>
            <td>{{ equipo.activo|yesno:"Sí,No" }}</td>
            <td>{{ equipo.jugadores.all|length }}</td>
            <td>{{ equipo.estadio_principal }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No hay equipos registrados</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}